.pad {
    width: 500px;
    height: 500px;
    display: grid;
}












/* body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.grid-container {
 width: 800px;
 display: flex;
 justify-content: center;
}

.grid-container div
,.grid-container div div {

    background-color: aqua;
    flex-shrink: 1;
} */
